# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VSCode
.vscode/
*.code-workspace

# Environment
.env
.venv
.venv-py311/
.venv-py312/
env/
venv/
ENV/

# Distribution / packaging
dist/
build/
*.egg-info/

# Mac OS
.DS_Store

# Data files
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep

# Dashboards
dashboards/*.pbix
dashboards/*.twbx